bin/
obj/
*.user
*.suo

.vs
.vscode/ 
.DS_Store
global.json

PhysicsCSAlevlProject/imgui.ini
/PhysicsCSAlevlProject/.idea/
/PhysicsCSAlevlProject/plan-featureRoadmap.prompt.md
PhysicsCSAlevlProject/logs.log
.gitignore
.gitignore
